{% extends "layout.main.twig" %}

{% block content %}

<h2>Create Sponsor</h2>

<form method="POST" action="/sponsor/create">
  <div class="form-group">
    <label for="username">Name</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="Sponsor Name">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" name="description" id="description"></textarea>
  </div>
  <div class="form-group">
    <label for="logo">Logo</label>
    <input type="file" class="form-control" name="logo" id="logo">
  </div>
  <div class="form-group">
    <label for="sponsor_users">User(s)</label><br/>
    <table class="table">
      <tbody id="user-tbody">
      </tbody>
    </table>

    <select name="user_list" id="user_list">
      {% for user in users %}
      <option value="{{ user.id }}">{{ user.fullName }} ({{ user.username }})</option>
      {% endfor %}
    </select>
    <input type="button" name="add-user-btn" class="btn" id="add-user-btn" value="Add"/>
  </div>
  <input type="hidden" name="user-id-list" id="user-id-list" value=""/>
  <button type="submit" name="create" class="btn btn-default">Create</button>
</form>

<script>
$(function() {
  // Set up our add list instance
  requirejs(['controls/add-list'], function(AddList) {
    AddList.init(
      $('#user-id-list'),
      $('#user_list'),
      $('#add-user-btn'),
      $('#user-tbody')
    );
  });
});
</script>

{% endblock %}
