{% extends "layout.main.twig" %}

{% block content %}

<h2>Dashboard</h2>

<h4>Events</h4>
<table class="table table-striped">
  <thead>
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
  </thead>
  <tbody>
    {% for event in events %}
    <tr>
      <td><a href="/event/view/{{ event.id }}">{{ event.name }}</a></td>
      <td>{{ event.startDate }}</td>
      <td>{{ event.endDate }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
